################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FleaFlickerAPI/FleaFlickerAPI/bin
/FleaFlickerAPI/FleaFlickerAPI/obj
/FleaFlickerAPI/.vs/FleaFlickerAPI/DesignTimeBuild/.dtbcache.v2
/.vs
/Publish
